<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header card-default">
          <p translate>profile</p>
          <div>
            <a role="button" (click)="updateUserModal.show()">
              <i class="fa fa-pencil" ></i>
            </a>
          </div>
        </div>
        <div class="card-block profile">
          <div>
            <b>
              <i class="fa fa-user mr1" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>username</span>
            </b>
            <span *ngIf="user.username">{{user.username}}</span>
            <span *ngIf="!user.username" class="small text-danger" translate>please_set_username</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-envelope" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>email</span>
            </b>
            <span>{{user.email}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-check-circle" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>verified</span>
            </b>
            <span [ngClass]="user.emailVerified ? 'text-success' : 'text-danger'">
              <i class="fa" [ngClass]="user.emailVerified ? 'fa-circle' : 'fa-times'"></i>
            </span>
          </div>
          <hr />
          <div class="embed-responsive">
            <b>
              <i class="fa fa-camera" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>avatar</span>
            </b>
            <img src={{user.avatar}} height=32 />
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>created</span>
            </b>
            <span>{{user.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>updated</span>
            </b>
            <span>{{user.updatedAt | date:"yyyy/MM/dd HH:mm:ss"}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>last_login</span>
            </b>
            <span>{{user.loggedAt | date:"yyyy/MM/dd HH:mm:ss"}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-key" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>password</span>
            </b>
            <button class="btn btn-sm btn-success btn-round" (click)="updatePasswordModal.show()" translate>change_password</button>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <span class="small text-user">userId: {{user.id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong translate>organizations</strong>
        </div>
        <div class="card-block" *ngIf="!organizationsReady">
          <span>Loading organizations...</span>
          <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
          </div>
        </div>
        <div class="card-block" *ngIf="organizationsReady && !organizations.length">
          <span>No organizations yet...</span>
        </div>
        <ng-container *ngIf="organizationsReady && organizations.length > 0">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-inverse">
                <tr>
                  <th translate>logo</th>
                  <th translate>name</th>
                  <th translate>users</th>
                  <th translate>action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let organization of organizations; let i = index">
                  <td>
                    <div class="small">
                      <img src="{{organization.logo}}" height="50px" class="img-avatar">
                    </div>
                  </td>
                  <td>
                    <a [routerLink]="['/organization/', organization.id]">
                      <strong class="text-organization">{{organization.name}}</strong>
                    </a>
                  </td>
                  <td>
                    <div class="font-weight-bold">{{organization.Members.length}}</div>
                  </td>

                  <td>
                    <div class="btn-group-sm">
                      <button
                        *ngIf="organization.userId !== user.id"
                        class="btn btn-outline-organization btn-round"
                        tooltip="Leave organization"
                        (click)="leaveOrganization(organization)">
                        <i class="fa fa-sign-out fa-lg"></i>
                      </button>
                      <button
                        *ngIf="organization.userId === user.id"
                        class="btn btn-outline-danger btn-round"
                        tooltip="Delete organization"
                        (click)="deleteOrganization(organization)">
                        <i class="fa fa-trash fa-lg"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mb-1">
    <div class="col-md-12">
      <button class="btn btn-sm btn-danger" (click)="deleteUserModal.show()" translate>delete_account</button>
    </div>
  </div>
</div>


<div bsModal #updatePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>password_edit.title</h4>
        <button type="button" class="close" (click)="updatePasswordModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updatePassword()" class="form-horizontal" #editForm="ngForm">
          <div class="form-group row">
            <div class="col-md-12">
              <input
                type="password"
                class="form-control"
                (keyup.enter)="updatePassword()"
                placeholder="{{ 'password_edit.current_password' | translate }}"
                name="oldPassword"
                [(ngModel)]="oldPassword" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input
                type="password"
                class="form-control"
                (keyup.enter)="updatePassword()"
                placeholder="{{ 'password_edit.new_password' | translate }}"
                name="newPassword"
                [(ngModel)]="newPassword" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input
                type="password"
                class="form-control"
                (keyup.enter)="updatePassword()"
                placeholder="{{ 'password_edit.repeat_password' | translate }}"
                name="newPasswordConfirm"
                [(ngModel)]="newPasswordConfirm">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updatePasswordModal.hide()" translate>close</button>
        <button type="button" class="btn btn-success" (click)="updatePassword()" translate>update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #updateUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>profile_edit.title</h4>
        <button type="button" class="close" (click)="updateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateUser()" class="form-horizontal" #editForm="ngForm">
          <div class="form-group row">
            <label class="col-md-12 form-control-label" translate>username</label>
            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                (keyup.enter)="updateUser()"
                placeholder="{{user.username ? user.username : 'How do you want us to call you?'}}"
                name="user.username"
                [(ngModel)]="user.username" />
            </div>
          </div>
            <div class="form-group row">
              <label class="col-md-12 form-control-label" translate>avatar</label>
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  (keyup.enter)="updateUser()"
                  placeholder="{{user.avatar}}"
                  name="user.avatar"
                  [(ngModel)]="user.avatar" />
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updateUserModal.hide()" translate>close</button>
        <button type="button" class="btn btn-success" (click)="updateUser()" translate>update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>account_delete.title</h4>
        <button type="button" class="close" (click)="deleteUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p translate>account_delete.message_a</p>
        <p class="font-weight-bold text-danger" translate>account_delete.message_b</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteUserModal.hide()" translate>close</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()" translate>delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
