<div class="app align-items-center">
  <div class="container">
    <div class="text-center mb-1">
      <img src="assets/img/logo.svg" width=160 height=40 />
    </div>
    <div class="card p-2">
      <div class="card-block">
        <form *ngIf="!access_token" #f="ngForm" (ngSubmit)="onSendResetEmail()">
          <p class="text-muted" translate>input_reset_email</p>
          <hr />
          <div class="input-group mb-1">
            <span class="input-group-addon">@</span>
            <input [(ngModel)]="email" type="text" class="form-control" name="email" placeholder="{{ 'email' | translate }}">
          </div>
          <div *ngIf="errorMessage != ''">
            <div class="mb-3 bg-danger text-center">{{errorMessage}}</div>
          </div>
          <div *ngIf="successMessage != ''">
            <div class="mb-3 bg-info text-center">{{successMessage}}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-success px-2" [disabled]="errorMessage!= ''" translate>send_mail</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="button" class="btn btn-link px-0" [routerLink]="['/login']" translate>back</button>
            </div>
          </div>
        </form>

        <form *ngIf="access_token" #f="ngForm" (ngSubmit)="onResetPassword()">
          <div class="card-block mb-1">
            <p class="text-muted" translate>reset_password</p>
            <hr />

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input [(ngModel)]="newPassword" type="password" class="form-control" name="password" placeholder="{{ 'password' | translate }}">
            </div>

            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input [(ngModel)]="verifyPassword" type="password" class="form-control" name="verifyPassword" (ngModelChange)="verify()" placeholder="{{ 'repeat_password' | translate }}">
            </div>

            <div *ngIf="errorMessage != ''">
              <div class="mb-3 bg-danger text-center">{{errorMessage}}</div>
            </div>

            <div *ngIf="successMessage != ''">
              <div class="mb-3 bg-info text-center">{{successMessage}}</div>
            </div>

            <hr />
            <div class="row">
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-success px-2" [disabled]="errorMessage!= ''" translate>send_new_password</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
